# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# IDE
.idea

# App files
server/config/*
!server/config/example.env
client/dist
client/config/.env
!client/config/example.env
common/game-mechanics/dist
tmp

ecosystem.config.js
