.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .btn {
    &.btn-main {
      color: white;
      background-color: @mainBlue;

      &:hover {
        background-color: darken(@mainBlue, 5%);
      }
    }

    &.btn-white {
      color: black;
      border: 1px solid #cccccc;

      &:hover {
        background-color: darken(white, 5%);
      }
    }
  }
}
